body
{
  color: white;
  background: rgb(224, 85, 108);
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_gesture_name  
{
  color: violet;
  font-size: 30px;
}
.gesture_name
{
  font-size: 40px;
  font-family: arial;
}
.gesture
{
  font-size:48px;
}
.heading
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 5px;
}


